{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <h1>NEW HTML</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam consequuntur eveniet, quos natus culpa ut
        necessitatibus reiciendis officia est ducimus laborum pariatur voluptatem odit rem porro nihil, quisquam
        similique repudiandae.</p>
    <img src="{% static 'imgg/34.jpg' %}" alt="">

</body>

</html>